### basic settings

# site properties and page defaults
title: ABEL@SYSU
description: Aquatic Biodiversity Evolution Laboratory @ Sun Yat-sen University
logo: images/logo.png
logo-text: false
header: images/background.jpg
footer: images/background2.jpg
header-dark: true
footer-dark: true
baseurl: 

# site social media and other links
links:
  email: majx26@mail.sysu.edu.cn
  google-scholar: Ka Yan Ma
  github: abel-sysu

### advanced settings

# automatic citations
auto-cite:
  plugins:
    - name: orcid
      input:
        - ../_data/orcid.yaml
  output: ../_data/citations.yaml

# default front matter parameters for markdown files
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

# collections
collections:
  members:
    output: true

# sass settings
sass:
  sass_dir: css

# syntax highlighting
highlighter: rouge

# plugins
plugins:
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-sitemap
  # - jekyll-github-metadata
  # - jekyll-avatar
  # - jekyll-gist
  # - jekyll-mentions
  # - jekyll-relative-links
  # - jemoji

# jekyll theme
theme: null
 
